body {
    background: #3fffd8;
    font-size: 16px;
    color: #a29bb6;
    text-align: center;
    font-family: "Lato", sans-serif;
    margin: 20px;
}

input {
    font-size: 30px;
    width: 80%;
}
img{width: 30%;}